body { 
    background: #ffd7ea 
}

#banner {
    width: 50%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px"
}

em strong{
    color:rgb(255, 79, 161);
}

.itens {
    font-style: italic
}

.beneficios {
    background: #FFFFFF;
}